/** FONTS **/ 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&family=Libre+Franklin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Roboto:wght@700&display=swap');

html{
  height: 100% !important;
  scroll-behavior: smooth;;
}

body {
  /** for navbar **/
  margin: 0;
  width: 100%;
  height: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** SPACING
p {
  line-height: 4vw;  
}

**/

/** NAVBAR **/ 
.sticky-bar {
  position: sticky;
  top: 0;
}

.center-navbar {
  width:30%;
  margin-left: 35%;
}

.basic-navbar-nav {
  width: 100%;
  text-align: center;
}


/** COMMON STYLING **/ 
.sectionHeader {
  color: #302425;
  width: 100%;
 
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  font-size: 4vw;
  font-weight:bold;
  justify-content: center;
  text-align: center;
}

/** HOME PAGE **/ 

.jumbotronContainer {
  display: flex; 
  width: 100% !important; 
  height: 100% !important;
}

.jumbotronImage {
  width: 100%; 
  height: auto;
  top: 70; 
  left: 0; 
}

.jumbotronText {
  /** font config **/ 
  color: #302425;
  font-family: 'Lato', sans-serif;

  /** Specify font size based on viewport - provide fallback for older browsers **/ 
  font-size: 80px;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 0px 0px 25px #ffffff;
  line-height: 3vw; 

  /** position config **/ 
  height: 100%; 
  max-height:1000px;
  z-index: 5;
  position: absolute;
  top: 70; 
  right: 0; 
  margin-left: auto; 
  margin-right: 0; 
  text-align: center;
  height: 100% !important;
  padding-top: 15%; 
  padding-right: 6%;
  padding-bottom: 0%;
}

#secondText {
  font-size: 55px;
  font-size: 3vw;
  font-weight: lighter !important;
  font-weight: normal;
  text-shadow: 0px 0px 25px #ffffff;
}

.downloadCvButton {
  color: rgba(48, 36, 37, 0.7) !important;
  font-weight: lighter !important;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif !important;

  font-size: 1.5vw !important;
  font-size: 32px; 
  background-color: rgba(255, 255, 255, 0.25) !important; /* Green */
  border: 0.15vw solid #302425  !important;
  border: 3px solid #302425;
  border-color:rgba(48, 36, 37, 0.7) !important;
}


/** ABOUT **/ 
.aboutContainer {
  display: block; 
  width: 100% !important; 
  height: 100% !important;
  padding-top: 5%; 
  background-color: #FAE2E7;
}

.aboutBody {
  padding-top: 3%; 
  padding-right: 10%; 
  padding-left: 10%; 
  width: 100%;
  height: 600px;
  background-color: #FAE2E7;
  justify-content: center;
  text-align: center;

  /** font config **/ 
  font-weight: bold;
  font-family: 'Work Sans', sans-serif !important;
  font-size: 1.5vw !important;
  font-size: 28px; 
  line-height: 2;
}

.aboutImage {
  width: 150px; 
}

/** EXPERIENCE **/

.experienceContainer {
  display: flex; 
  width: 100% !important; 
  height: 100% !important;
  background-color: #FAE2E7;
  padding-top: 5%; 

}

.experienceBody {
  height: 900px;
  width: 100%;
}

/** CONTACT **/ 

.contactContainer {
  display: flex; 
  width: 100% !important; 
  height: 100% !important;
  background-color: #FAE2E7;
  padding-top: 5%; 

}

.contactBody {
  height: 900px;
  width: 100%;
}